
@import url(./partials/_variables.css);









/** Start Hero Section**/

.title-text, .button {
  font-family: "Roboto";
}

.hero-site-title h3 {
  padding-top: 10%;
  font-family: "Roboto";
  font-weight: 500;
}


.hero-site-title h3::after {
 content: "";
 height: 2px;
 width: 14vw;
 background: black;
 display: inline-block;
 margin-left: 5%;
 transform: translateY(-4px);
}



.hero-site-title h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 10px;
}

.hero-site-title h4 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.2rem;
}


/** buttons**/
.button {
  padding: .5rem 2.2rem;
  position: relative;
  border: 3px solid transparent;
  border-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-right: 1rem;
}

/** Primary buttons**/

.button.primary-button{
  background: var(--gradient-color);
  color: whitesmoke;
  background-clip: padding-box;
  transition: background .6s ease;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

.button.primary-button:hover{
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after, .button.secondary-button::after{
  position: absolute;
  top: -2px; left: -2px; bottom: -2px; right: -2px;
  background: var(--gradient-color);
  content: "";
  z-index: -1;
  border-radius: 8px;
}


/** Secondarybuttons**/

.button.secondary-button{
  background: whitesmoke;
  background-clip: padding-box;
  transition: background .6s ease;
}

.button.secondary-button:hover{
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}


/** End hero section **/


/** Start About me Section**/
/** End About me Section**/

.about-me-container {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-container span {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 2px;
  letter-spacing: 10px;
  font-family: "Roboto";
}

.about-me-container p {
 font-size: .9rem;
}


.icon-social-link{
  background-color: rgb(248, 248, 248);
  width: 60px;
  padding: 1rem;
  border-radius: 16px;
  margin-right: 1rem;
  margin-top: 8px;
}

.icon-social-link:hover{
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}


/** End About me Section**/


/** Start brand Section**/
.brand-section{
  background-color: rgb(226, 237, 252, 0.3);
}

.experience-area-container{
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-bottom: 48px;
}



.years-area{
  display: flex;
  justify-content: center;
}
.years{
  color: rgb(109, 5, 129);
  border-right: 2px solid rgb(76, 3, 90);
  margin-right: 12px;
}

.experience-text-container{
  display: flex;
  flex: 1;
}

.years-area span{
  display: block;
  font-weight: 500;
  margin-top: 2px;
  letter-spacing: 10px;
  font-family: "Roboto";
  font-size: 1.8rem;
}

.years-area h2{
  font-size: 5rem;
}

.email-me-container{
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  margin-top: 36px;
}





.single-brand{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(214, 214, 214, 0.5);
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-right: 1rem;;
  width: 150px;
  height: 100px;
  background-blend-mode: normal;
  transition: transform .4s ease;
}

.single-brand:hover{
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  transform: scale(1.2);
}

/** End brand Section**/




/** Start service Section**/


.service-items-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 2rem;
  border-radius: 8px;
  transition: box-shadow .7s ease;
}

.service-items-container:hover{
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

.service-title-text, .skill-title-text, 
.contact-title-text, .text-title{
  font-weight: 700;
  padding-top: 4rem;
  letter-spacing: 10px;
  font-family: "Roboto";
  font-size: 2rem;
}

.service-image {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200;
}

.service{
  padding: .4rem;
}


.service-image-adjust{
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200;
}

.card-title, .project-title{
  color: rgb(109, 5, 129);
  padding-top: 1rem;
}

.service-area p {
  font-family: "Roboto";
  color: rgb(31, 31, 31);
}

/** End service Section**/




/** Start project Section**/

.project-title-text-container{
  font-weight: 700;
  padding-top: 4rem;
  letter-spacing: 10px;
  font-family: "Roboto";
  font-size: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(118, 85, 225, 0.3);
}

.project-items-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  cursor: pointer;
  transition: box-shadow .7s ease;
}


.project-items-container:hover{
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}


.project-image-adjust{
display: flex;
justify-content: center;
width: auto;
margin: 0px;
}

.project{
  padding: 2rem;
}

/** End project Section**/



/** Start skill Section**/

.selling-items-container{
  border: 1px solid rgb(235, 235, 235);
  border-radius: 24px;
  padding-bottom: 12px;
  margin: .8rem;
}

.selling-items-container:hover{
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}


.selling-items-container h5 {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
}

.selling-items-container i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4px;
  height: 4px;
  margin-top: 12px;
  color: rgb(65, 65, 65);
}



.skill-image-adjust {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.skill-title{
  font-family: "Roboto";
  font-size: .8rem;
  font-weight: 400;

}


/** End skill Section**/



/** Start contact Section**/

.contact-section{
  background-image: url(/image/Background\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contact-sub{
  background: rgba(248, 248, 248, 0.2);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 12px rgba(250, 218, 250, 0.);
  backdrop-filter: blur(3px);
  border-bottom: 4px solid rgb(241, 241, 241);
  -webkit-backdrop-filter: blur(16.8px);
}


.bg-contact-sub span{
  font-weight: 400;
  font-family: "Roboto";
  font-size: 1rem;
}


.sub-title-text{
  font-weight: 400;
  padding-top: 1rem;
  letter-spacing: 4px;
  font-family: "Roboto";
  font-size: 1.5rem;
}

.contact-info{
  margin-top: 6px;
}




/** End contact Section**/


