/* padding added in main container for stick header */
#main {
  padding-top: 85px;
}

/* Header css start */
#header {
  background-color: var(--textLight);
  padding-top: 1.4rem;
  padding-bottom: 0.6rem;
  position: fixed;
  width: 100%;
  box-shadow: 2px 1px 12px rgba(160, 0, 224, 0.3);
  z-index: 100;
}

.header-container {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo-container {
  a {
    text-decoration: none;
  }

  h4 {
    color: var(--brandColor);
    font-family: "Jersey 20", sans-serif;
    font-size: 2rem;
    text-transform: lowercase;
    transition: 0.3s ease-in;

    &:hover {
      color: var(--brandColorSecond);
      text-decoration: underline;
      text-underline-offset: 0.2em;
      text-decoration-thickness: 2px;
    }
  }
}
.header-right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.4rem;
  list-style: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--textDark);

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--brandColor);
    transition: 0.3s ease-in;

    &:hover {
      color: var(--brandColorSecond);
      text-decoration: underline;
      text-underline-offset: 0.5em;
      text-decoration-thickness: 2px;
    }
  }
}

/* Footer css start */
#footer {
  background-image: linear-gradient(
    180deg,
    var(--bgColorDark-deep),
    var(--grayDark)
  );
  padding-top: 1.4rem;
  padding-bottom: 0.6rem;
  color: var(--textLight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  h3 {
    text-transform: uppercase;
    color: var(--brandColorSecond);
    padding-top: 2rem;
  }

  p {
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.4rem;
  }
}

.footer-info-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.footer-projects-container {
  display: flex;
  padding-top: 1rem;
  gap: 3rem;
  /* border: 2px solid white; */

  h4 {
    padding-bottom: 0.4rem;
  }

  a {
    text-decoration: none;
    color: var(--textLight);
    text-transform: lowercase;
    cursor: pointer;

    &:hover {
      color: var(--brandColorSecond);
      text-decoration: underline;
      text-underline-offset: 0.4em;
      text-decoration-thickness: 2px;
    }
  }

  li {
    list-style: none;
    padding-bottom: 0.4rem;
  }
}

.footer-middle {
  h3 {
    padding-bottom: 1rem;
  }
}

.social-media-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;
  color: var(--textLight);
  padding-bottom: 0.4rem;

  &:hover {
    color: var(--brandColorSecond);
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 2px;
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  h3 {
    padding-bottom: 1rem;
  }
}

.footer-right-contact {
  text-decoration: none;
  display: flex;
  align-items: start;
  gap: 0.6rem;
  text-decoration: none;
  color: var(--textLight);
  padding-bottom: 0.4rem;

  i {
    padding-top: 4px;
  }
}

.footer-terms-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 2rem;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Responsive layout area */

@media only screen and (max-width: 1024px) {
  .footer-info-container {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  .footer-projects-container {
    justify-content: start;
    gap: 3rem;
  }

  .footer-terms-container {
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 640px) {
  #header {
    padding-bottom: 0.2rem;
    background: linear-gradient(120deg, rgb(145, 2, 174), rgb(1, 41, 78));
    border-radius: 0 0 2rem 2rem;
  }
  #main {
    padding-top: 140px;
  }
  .header-container {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    gap: 0.6rem;
  }

  .header-logo-container {
    h4 {
      text-align: center;
      color: var(--textLight);
    }
  }

  .header-right-nav {
    justify-content: center;
    gap: 0.6rem;
    /* background-color: var(--brandColorExtra); */
    padding: 0.6rem;

    a {
      color: var(--textLight);
      background-color: var(--brandColorSecond);
      padding: 0.6rem 1.8rem;
      border-radius: 0.4rem 2rem 0.4rem 2rem;

      &:hover {
        color: var(--brandColorExtra);
        text-decoration: none;
        background-color: var(--brandColor);
      }
    }
  }

  .footer-info-container {
    grid-template-columns: 1fr;
  }

  .footer-projects-container {
    justify-content: start;
    gap: 3rem;
  }

  .footer-terms-container {
    justify-content: center;
  }
}
