@import url(home.css);
@import url(hero.css);

:root {
  --bgColorLight: #ecfbff;
  --bgColorDark: #22577a;
  --brandColor: #5a189a;
  --brandColorSecond: #f72585;
  --brandColorExtra: #ffc6fd;
  --textDark: #111111;
  --textLight: #f8f9fa;
  --bgColorDark-deep: #112b3c;
  --grayDark: #0a171f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bgColorDark);
}
